*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    height: 245px;
    width: 100vw;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}
.nav-top{
    height: 47px;
    width: 100%;
    text-align: center;
    background-color: #A9C5C6;
    font-size: 1.05em;
    color: #FCF8F8;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
}
header{
    margin:.1vh 0 .1vh 13vw;;
    display: flex;
    flex-direction: column;
    background-color: #EDF3F7;
}
.logo img{
   width: 385px; 
   height: 11vh;
}
.nav-bar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}
.nav-bar li{
    
}
.nav-bar a{
    text-decoration: none;
    color:#8F8F96;
    font-size: .875em;
    font-weight: 900;
    text-transform: uppercase;
}
main{
   justify-content: flex-end;
    margin-bottom:50px;
    display: flex;
}
.main-text{
    width:57%;
    border-bottom: 2px solid grey;
}
.main-text p{
    margin:25px;
    color: #666666;
}
.main-text p a{
    color:#94b6b8;
}

#patient-portal{
    width:26.6vw;
}

input{
    padding:1.5vh 1.5vw;
    font-weight: 900;
    text-transform: uppercase;
    color:#8F8F96;
    background-color: #94b6b8;
    border:none;
}
section{
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section-image img{
   height: 55vh;
   width: 71.5vw;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 94vh;
    width: 100vw;;
}
#contact-image{
    display: flex;
    flex-direction: row;
    margin:15vh 15vw 20vh 15vw;
}
#contact-image-people{
    text-align: center;
    justify-content: center;
    padding: 5px;
}
#contact-image-people img{
    width: 12vw;
    height: 22vh;
    /* margin:1vh 1vw; */
    align-self: stretch;
}
footer{
    border-top: 2px solid grey;
    text-align: center;
    padding-top:10px;
    height: 70px;
    font-size: .8em;
}
@media (max-width: 1060px) {
    #contact-image {
        margin:15vh 0vw;
    }
    #contact-image-people img{
        min-width: 140px;
    }
}
@media (max-width: 800px) {
    #contact-image {
        flex-direction: column;
    }
    #contact-image-people img{
        min-height: 140px;
    }

    article{
        height: auto;
    }
}
/* just change all the font-sizes of the page and the image size of the logo and you should be gucci maybe remove the margin on the nav and main. the section image can just take up 100% of the container*/