*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    width: auto;
    min-width: 360px;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
     font-family: 'Mulish', sans-serif;
     text-align: center;
 
}
.box-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
  height: 50vh;
    width: (360px, 996px, 996px);
}
.box{
    width: clamp(312px, 100%, 320px);
    height: clamp(393px, 100%, 393px);
    align-items: stretch;
    border: 2.5px solid whitesmoke;
    display: flex;
    flex-direction: column;  
    justify-content: space-evenly;
    
 
}
.box-type2{
    border-top-color: #50bc01;
    box-shadow: 3px 3px 25px 2px #ccc
}
.title{
font-weight: bold;
}
.price-per-month{
    display: flex;
    flex-direction: column;
}
.price-per-month h2 {
    color: #5caefe;
    font-size: 2em;
}
#small-text {
    font-size: 12px;
    color: grey;
}
.box p {
font-size: 18px;
}
#box-btn{
    width: 40%;
    align-self: center;
    padding: 10px;
    background: #5caefe;
    border: none;
    color: white;
}